.ppContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 3% 0;
}

.profcont {
    border-radius: 50%;
    width: 125px;
    height: 125px;
    display: flex;
}

.profcont3 {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
}

.profimg {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.globalbanner {
    padding: 0.5%;
    background-color: black;
    display: flex;
    justify-content: space-between;
}

.globalbanner div a {
    color: aliceblue;
    text-decoration: none;
    font-size: 2vh;
}

.rainbow-box-absolute {
    position: absolute;
    top: -100px;
    z-index: -100;
    width: 100%;
    height: 4400px;
    background: linear-gradient(
        180deg,
        rgb(65, 142, 220) 0%,
        rgb(200, 141, 195) 50%,
        rgb(205, 131, 79) 100%
    );
}

.rainbow-box {
    position: fixed;
    top: -100px;
    z-index: -100;
    width: 100%;
    height: 2000px;
    background: linear-gradient(
        180deg,
        rgb(75, 165, 255) 0%,
        rgb(255, 180, 249) 50%,
        rgb(255, 164, 99) 100%
    );
}

.popp {
    font-family: 'Poppins', sans-serif;
}

.sombra {
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.75);
}

.sombrat {
    text-shadow: -1px -1px white, 1px 1px #333
}

.plastico {
    width: 350px;
    height: 200px;
    background-color: rgb(66, 142, 255);
    border-radius: 20px;
}

.plastico2 {
    width: 700px;
    height: 150px;
    background-color: white;
    border-radius: 20px;
}

.plastico3 {
    width: 700px;
    background-color: white;
    border-radius: 20px;
}

.profcont2 {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
}

.chip {
    position: relative;
    left: 100px;
    scale: 0.2;
}

.mainFont {
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
}

.postImgCont {
    text-align: center;
}

.postImg {
    max-height: 200px;
}