.ppContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 3% 0;
}

.profcont {
    border-radius: 50%;
    width: 125px;
    height: 125px;
    display: flex;
}

.profimg {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.globalbanner {
    padding: 0.5%;
    background-color: black;
    display: flex;
    justify-content: space-between;
}

.globalbanner div a {
    color: aliceblue;
    text-decoration: none;
    font-size: 2vh;
}