<div class="rainbow-box"></div>
<%- layout('./layouts/main.ejs') %> 

<div class="d-flex flex-column align-items-center m-5">
    <img src="assets/triste.png" alt="triste" width="200">
    <h1 class="text-center text-white popp mt-3">404</h1>
    <h3 class="text-center text-white popp mt-3">¿Como llegaste aquí?</h3>
</div>