<%- layout('./layouts/main.ejs') %> 
<h1 class="text-center m-5">ADMIN MODE</h1>

<div class="d-flex">
  <div class="col d-flex flex-column align-items-center justify-content-center">
    <p>Administrador de Mercado</p>
    <a href="/admin/market" class="btn btn-dark w-50 rounded">Mercado</a>
  </div>
  <div class="col d-flex justify-content-center">

  </div>
</div>