<%- layout('./layouts/2main.ejs') %> 
<h1 class="text-center mt-5 mb-3">Añadir una nueva noticia</h1>

<form method="POST" action="/admin/create" class="d-flex flex-column align-items-center">
    <div class="form-floating mb-3 w-25">
        <input type="text" class="form-control rounded" name="title" placeholder="name@example.com">
        <label for="titleField">Titulo</label>
    </div>
    <div class="form-floating mb-3 w-25">
        <input type="text" class="form-control rounded" name="author" placeholder="Password">
        <label for="authorField">Autor</label>
    </div>
    <div class="form-floating mb-3 w-25">
        <div class="form-group">
            <textarea class="form-control rounded" name="textbody" rows="5" placeholder="Texto" maxlength="320"></textarea>
        </div>
    </div>
    <div class="form-floating mb-3 w-25">
        <input type="text" class="form-control rounded" name="thumbnail" placeholder="Password">
        <label for="thumbField">URL de la imagen</label>
    </div>
    <input class="btn btn-outline-success w-25 mb-1 rounded" type="submit"></input>
    <a class="btn btn-outline-primary w-25 rounded" type="submit" href="/news">Ver noticias</a>
</form>