<div class="rainbow-box"></div>

<%- layout('./layouts/main.ejs') %> 

<div class="d-flex py-5 align-items-center">
    <div class="col text-center">
        <iframe src="https://discord.com/widget?id=1105574494153740298&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
    </div>
    <div class="col">
        <div class="w-75 text-center">
            <h2 class="text-white popp">¡Unete a nuestra comunidad de discord!</h2>
            <button class="btn btn-dark rounded m-4">Entrar a Discord</button>
        </div>
    </div>
</div>