<div class="neoland-box-bg"></div>
<%- layout('./layouts/main.ejs') %> 
<% if(user) { %>
    <h1 class="text-center mt-5 mx-5 text-white popp sombrat">¡Hola!</h1>
    <h2 class="text-center mb-5 mx-5 text-white popp sombrat"><%= user.name %> <%= user.lastname %></h2>
<% } else { %> 
    <h1 class="text-center mt-5 mx-5 text-white popp">¡Bienvenido a Neoland!</h1>
    <h2 class="text-center mb-5 mx-5 text-white popp">Sumérgete en un emocionante mundo virtual</h2>
<% } %> 
<div class="d-flex p-5">
    <div class="col text-white mx-5 p-5 fs-3">
        <h5 class="text-white">¡Adéntrate en el vibrante mundo de Neoland!</h5>
        <p class="popp">Embárcate en una odisea llena de desafíos estratégicos, control territorial, y descubre una economía dinámica que te permite forjar tu propio destino. Únete a la comunidad, forma alianzas, participa en misiones épicas y esculpe tu leyenda en este universo digital único. ¡Bienvenido a Neoland, donde tus aventuras digitales cobran vida!</p>
    </div>
    <div class="col text-center mx-5">
        <img src="assets/neoland.png" alt="logo">
    </div>
</div>