<div class="rainbow-box-absolute"></div>
<%- layout('./layouts/main.ejs') %> 
<% if(user) { %>
    <h1 class="text-center mt-5 mx-5 text-white popp sombrat">¡Hola!</h1>
    <h2 class="text-center mb-5 mx-5 text-white popp sombrat"><%= user.name %> <%= user.lastname %></h2>
<% } else { %> 
    <h1 class="text-center mt-5 mx-5 text-white popp">¡Bienvenido a Novourne!</h1>
    <h2 class="text-center mb-5 mx-5 text-white popp">Sumérgete en un emocionante mundo de juego de rol en Minecraft</h2>
<% } %> 

<div class="d-flex justify-content-center m-5 p-5">
    <div class="col d-flex align-items-center justify-content-center mx-5 px-5">
        <p class="text-white mainFont popp">En nuestro servidor de roleplay, te convertirás en un ciudadano de Novourne, una metrópolis llena de vida, colores y secretos por descubrir. Desde el momento en que ingreses, te sumergirás en un entorno realista y detallado, cuidadosamente construido para brindar una experiencia de juego inmersiva.</p>
    </div>
    <div class="col d-flex align-items-center justify-content-center">
        <img src="assets/casa.webp" alt="creeper" width="500" class="animate__animated animate__bounceIn">
    </div>
</div>

<img src="assets/clouds.webp" alt="nubes" class="my-5 w-100">

<div class="d-flex justify-content-center m-5 p-5">
    <div class="col d-flex align-items-center justify-content-center">
        <img src="assets/casa2.webp" alt="casa2" width="500">
    </div>
    <div class="col d-flex align-items-center justify-content-center mx-5 px-5">
        <p class="text-white mainFont popp">Aquí, tú decides tu destino. Puedes elegir entre una amplia variedad de profesiones y roles para desempeñar en la ciudad. ¿Te gustaría ser un comerciante exitoso, estableciendo tu propio negocio y negociando con otros jugadores? ¿O prefieres convertirte en un agente de la ley, protegiendo la ciudad y manteniendo la paz? ¿Quizás te sientes atraído por la política y quieres convertirte en un alcalde influyente?</p>
    </div>
</div>

<img src="assets/clouds.webp" alt="nubes" class="my-5 w-100">

<div class="d-flex justify-content-center m-5 p-5">
    <div class="col d-flex align-items-center justify-content-center mx-5 px-5">
        <p class="text-white mainFont popp">La interacción en tiempo real es la clave en Novourne. Podrás hablar y colaborar con otros jugadores, formar alianzas, establecer relaciones comerciales o incluso competir por recursos y territorio. Cada acción que tomes y cada decisión que tomes tendrán un impacto en la ciudad y en su comunidad, creando un mundo en constante evolución que depende del espíritu de todos los participantes.</p>
    </div>
    <div class="col d-flex align-items-center justify-content-center">
        <img src="assets/casa3.png" alt="casa3" width="500">
    </div>
</div>

<img src="assets/clouds.webp" alt="nubes" class="my-5 w-100">

<div class="d-flex justify-content-center mx-5 px-5">
    <p class="text-white mainFont popp text-center m-5 p-5">Pero no todo es trabajo y negocios en Novourne. También encontrarás una amplia gama de actividades recreativas y eventos emocionantes para disfrutar. Participa en torneos deportivos, concursos de construcción, festivales culturales y mucho más. ¡La diversión nunca termina!</p>
</div>

<img src="assets/casa4.webp" alt="casa4" class="w-100">