<div class="rainbow-box"></div>
<%- layout('./layouts/main.ejs') %> 

<h1 class="text-center mt-5 text-white popp">Empleo</h1>

<div class="m-5 d-flex gap-3 justify-content-center">
<% if(user.job) { %> 
        <h1 class="text-center mt-5 text-white popp">ACTUALMENTE ERES <%= user.job %></h1>
    <% } else { %>
        <div>
            <div class="d-flex flex-column align-items-center m-5">
                <img src="assets/triste.png" alt="triste" width="200">
                <h4 class="text-center text-white popp mt-3">Estás desempleado</h4>
            </div>
            <p class="text-white popp text-center">Busca trabajo interactuando con otros jugadores.</p>
        </div>
    <% } %>
</div>

<div>
</div>